{% extends "layout.html" %}
{% block content %}
<head>
    <style>
        body {
            background-color: {{ bgcolor }}
        }
    </style>
</head>
    <div class="board">
        {% if images == -1 %}
            <p class="empty message">We're sorry, we don't have any images from that search to inspire you <p>
            <a href={{ home }} class="empty back">Go back</a>
        {% else %}
            {% for image in images %} 
                <form method="POST" action="">
                    <input type="image" class="img img{{ loop.index }}" src="{{ image }}" alt="" name="current_image" value="{{ image }}">
                    <input type="hidden" style="display:none;" name="submit" value="{{ image }}">
                </form>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}