{% extends "layout.html" %}
{% block content %}
    <head>
        <style>
            #faves{
                display: {{ display }}
            }
        </style>
    </head>
    <div class="instructions">
        <h2> Do you need inspiration? </h2>
        <h2> A visual aid to find an aesthetic? </h2>
        <h2> Infinte Inspiration can help. </h2>
        <ul>
            <li>Search for a theme and we'll give you a board of images to inspire you.</li>
            <li>If that board doesn't work for you, click our refresh button and we'll try again!</li>
        </ul>
    </div>
{% endblock content %}